.gallery {
    display: flex;
    flex-wrap: wrap; 
    gap: 24px; 
    max-width: 1440px; 
    margin: 0 auto;  
    padding: 24px;   
    justify-content: center;
}

.gallery-item {
    box-sizing: border-box;
    list-style: none;
    width: calc((100% - 48px) / 3);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.gallery-image {
    display: block; 
    width: 100%;   
    height: 400px;
    object-fit: cover;
}

.info {
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.search-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
}

button:hover {
    background: #6c8cff;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.is-hidden {
    display: none;
}

.load-more-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 150px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
}